---
import Card from '../Card.astro';
const allPosts = await Astro.glob('../../pages/posts/*.md');
---
<section class="max-w-6xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8 mx-auto" data-test="articles-section">
        {allPosts.map(p => <div class="col-span-1">
            <Card post={p} />
        </div>)}
  </section>