---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";

const title = "Codigo Alpha | Motivación"
const seoDescription =  `${title} - Desarrollo de software en Español`
---

<head>
    <BaseHead title={title} seoDescription={seoDescription} />
</head>


<body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />
    <div class="container mx-auto px-24 mt-12">
        <section class="">
            <h1 class="text-3xl text-center">¿Porqué este blog?</h1>
            <p class="text-xl"></p>
        </section>
    </div>
</body>
