---
const allPosts = await Astro.glob('../../pages/posts/*.md');
const numberOfPosts = allPosts.length;
---

<div class="md:col-span-1 px-2">
    <section class="flex flex-col justify-center text-xl pt-8 font-bold">
        <div class="mb-2">
            <div class="block p-6 max-w-sm bg-gradient-to-r from-[#ffb347] to-[#ffcc33] rounded-lg border
            border-gray-200 shadow-md">
                <h5 class="mb-2 text-2xl text-gray-00">                    
                    <span class="text-[#fff]">Codigo Alpha</span>
                    es un blog con {numberOfPosts} articulos de tecnologia y programación!
                </h5>
            </div>  
        </div>
    </section>
</div>